



.logo {
    width: 100px;
    height: 60px;
    font-size: 5.4rem;
}

.title-title {
    font-size: 3.4rem;
}

.header-text p {
    width: 230px;
    font-size: 2.1rem;
}

main p {
    margin-top: 45px;
}

.main-medidas {
    max-width: 700px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    font-size: 2.2rem;
    text-align: center;
    margin: 60px auto 0;
}

main .main-section {
    height: 900px;
}

.main-text {
    margin-top: 60px;
}

.images-section {
    height: 700px;
}

.imagen1 {
    width: 350px;
    height: 250px;
}

.imagen2 {
    width: 350px;
    height: 270px;
}

.whatsapp{
    left: 80%;
    width: 60px;
    height: 80px;
}





    