




main .main-section {
    height: 750px;
}

.images-section {
    flex-direction: row;
    justify-content: space-evenly;
}

.imagen1 {
    width: 460px;
    height: 315px;
    margin-top: 0px;
    
}

.imagen2 {
    width: 460px;
    height: 350px;
    
    
}

.main-text {
    
    width: 40%;
    text-align: justify;
    margin-bottom: -40px;
}