


.footer .footer-footer {
    font-size: 2.5rem;
}

.footer a {
    display: inline-block;
    
    color: rgb(195, 195, 195);
    text-decoration: none;
}

.footer p a {
    font-size: 2.5rem;
}

.footer p {
    padding: 0 10px;
}

.footer .footer-footer {
    width: 1150px;
    display: flex;
    justify-content: space-around;
    font-size: 2.5rem;
}