

/*
1. Posicionamiento
2. Modelo de caja(box model)
3. Tipografia
4. Visuales
5. Otros
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
  width: 100%;
}

header{
   text-align: center;
   display: flex;
   width: 100vw;
   height: 270px;
   background: linear-gradient(207.8deg, black 45%, orange 100%);
   flex-direction: column;
   align-items: center;
   position: relative;
   
}


.text-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
    margin-top: 30px;
    justify-content: center;
}

.logo {
    position: absolute;
    width: 55px;
    height: 35px;
    margin: 5px 15px 5px 5px;
    font-size: 4rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: #a3a3a3;
    margin-top: -25px
}

.title-title {
    display: block;
    color:  rgb(195, 195, 195);
    font-size: 2.6rem;
    margin-top: 100px;

}

.header-text {
    display: inline-block;
    width: 85%;
    color: rgb(206, 206, 206);
    text-align: center;
    font-size: 1.9rem;
    padding-top: 50px;
    padding-left: 14px;
    padding-right: 14px;
}

.header-text p {
    height: 45px;
}

.text-one {
    color: #e3e4e5;
    font-size: 1.5rem;
    padding: 15px;
}

.text-two {
    color: #e3e4e5;
    padding: 0 0 50px;
}

header a {
    display: flex;
    align-items: center;
    vertical-align: middle;
    text-align: center;
    font-size: 1.7rem;
    width: 25%;
    height: 35px;
    display: inline-block;
    padding: 2.8%;
    text-decoration: none;
    background: #faf8f7;
    box-shadow: 0px 4px 8px rgb(89 73 30 / 16%);
    border-radius: 4px;
    position: absolute;
    bottom: -90px;
    transition: background-color .5s;
}

.options {
    font-weight: 600;
    
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    max-width: 625px;
}

.option-one {
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 48px;
    color: black;
    padding: 9px 0 11px;
}


.option-two {
    right: 20px;
    top: 48px;
    color: black;
    padding: 9px 0 11px;
}

.option-three {
    left: 20px;
    color: black;
    top: 48px;
    padding: 9px 0 11px;
}

header a:hover {
    background-color: goldenrod;
}






main {
    display: flex;
    width: 100vw;
    flex-direction: column;
    background-color: rgb(246, 246, 246);
}

main p {
    font-weight: bold;
    font-size: 2rem;
    margin: 35px auto 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

main div {
    width: 190px;
    height: 1px;
    margin: -38px auto 45px;
    background-color: black;
}

.main-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin: 30px;
    margin-top: 45px;
    text-align: center;
}

.main-text .alambresYBarrasDeLatón {
    font-weight: 600;
    margin: 10px;
    font-size: 2.1rem;
}

.main-text div {
    width: 250px;
    height: 1px;
    background-color: grey;
}

.main-text .pesoPorMetro {
    font-weight: 600;
    font-size: 1.9rem;
    margin: 20px 0 -20px;
}

.main-text p {
    font-size: 1.8rem;
    margin-top: 40px;
}

.main-text .main-text--text {
    font-weight: 600;
    margin: 10px;
    font-size: 2.1rem;
}

.main-medidas {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    font-size: 2rem;
    text-align: center;
    margin: 0 0 30px;
}

.main-medidas h3 {
    margin-top: 100px;
}

.main-medidas div {
    margin: 8px 0;
    width: 100px;
    height: 1px;
    background-color: black;
}

.main-medidas .a {
    font-weight: 600;
    color: black;
    text-decoration: none;
    border: 1px solid grey;
    width: 230px;
    border-radius: 6px;
    padding: 7px;
    margin: 12px 0; 
    transition: background-color 0.2s linear 0.1s;
}

.main-medidas .a:hover {
    background-color: #a3a3a3;
    
}



table {
    width: 90%;
    margin: 0 auto;
    background-color: rgb(105, 105, 105);
}

tbody {
    width: 100%;
}

.main-medidas tr {
    width: 100%;
    text-align: center;
}

.medidas {
    width: 25%;
    font-size: 1.4rem;
    background-color: white;
    font-weight: 600;
}

.medidas-primero {
    width: 25%;
    font-size: 1.4rem;
    background-color: #e3e4e5;
    font-weight: 600;
}

.medidas-primero--dos {
    width: 12.5%;
    font-size: 1.4rem;
    background-color: #e3e4e5;
    font-weight: 600;
}

.medidas-segunda {
    width: 20%;
    font-size: 1.4rem;
    background-color: #e3e4e5;
    font-weight: 600;
}

.cañosDeLaton {
    width: 12.5%;
    font-size: 1.4rem;
    background-color: white;
    font-weight: 600;
}

.aluminioYChapas {
    width: 20%;
    font-size: 1.4rem;
    background-color: white;
    font-weight: 600;
}

tr .medidas-espesorDePared-one {
    position: flex;
    flex-direction: row;
    font-size: 1.37rem;
    background-color: white;
    font-weight: 600;
}

.medidas-special-uno {
    color: white;
    width: 12.4%;
    background-color: white;
}



.medidas-special-dos {
    color: white;
    width: 12.2%;
    background-color: white;
}

.chapasDeLatón {
    margin-top: 35px;
}

.chapasDeAluminio {
    margin-top: 35px;
}

.cintasDeAluminio {
    margin-top: 35px;
}

.main-medidas span {
    background-image: url(../assets/flecha.png);
    width: 55px;
    height: 55px;
    display: inline-block;
    border: 2px solid black;
    border-radius: 40px;
    background-size: cover;
    margin-bottom: -12px;
    
    
}

.main-medidas span:hover {
    background-color: goldenrod;
}




.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    color: rgb(195, 195, 195);
    background-color: black;
    font-size: 2rem;
}

.footer .footer-footer {
    display: inline-block;
    text-align: center;

}

.footer p {
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 5px;
}


.footer p a {
    color: rgb(195, 195, 195);
    font-size: 2rem;
    text-decoration: none;
}

.footer p a:hover {
    color: rgb(117, 117, 117);
}

.footer a {
    display: inline-block;
    padding: 15px 20px 15px;
    color: rgb(195, 195, 195);
    text-decoration: none;
}

.footer span {
    color: black;
}